body {
  background-color: $background;
  font-family: "Spartan" sans-serif;
}

.hidden {
  display: none;
}

.conntainer {
  width: 90%;
  margin: 0 auto;
}

.top {
  width: 100%;
  display: flex;
  height: 150px;
  background-color: $desaturated-dark-cyan;
  background-image: url(../images/bg-header-mobile.svg);
  background-size: cover;
}

.app {
  padding-bottom: 10rem;
}
